@media (min-width:32.5em)

{
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Yusei+Magic&display=swap');
    

    h1{font-family:Tanukizamurai, sans-serif;
       font-style: italic;
       color :black;
       font-size:80px;
       border: solid;
       background-color: cornflowerblue;
    }
    img {position: absolute;right: 0%;
         border-radius: 50%;
         
    }
    
    h4{ font-family:Big-shoulder-display , sans-serif;
        font-style: oblique;
        font-size:60px;
        color:black;
       
    }
     ul{font-size: 30px;}
    
    
    a:hover{color:red;}
    
    
    footer{border: solid;
           text-align: center;
           font-size:20px;
           background-color:cornflowerblue;
    
    }



}