
 
 @media(min-width:992px){
 
 @import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Playfair+Display:ital@1&display=swap');

 h1{text-align: center;
    font-family:'Lemonada', cursive;
    color:#03045E;
    border:#023E8A 10px solid;
}

body{background-color:#ade3f5;
    font-size:50px;
    font-family:'Lobster', cursive;
    }
 footer{border: solid;
        text-align: center;
        font-size:20px;
        background-color:#0096C7;
        position:fixed;
 }

 img{height: 350px;
     width:350px;
    }

#image1{float: left;
}

#image3{float: left;
}
#image5{float: left;
}
#image2{float: right;
}
#image4{float: right;
}
#image6 {float: right;
}

  

 }