@media(min-width:35em){

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Nanum+Gothic&family=New+Tegomin&family=Oswald&display=swap');
    
    
    #logo{float:left;
         border-radius: 50px;
         border-style: solid #081c15;
         margin-left: 10px;    
    }
    
    
    header   {font-family: 'Merriweather', serif;
              text-align: center;
              color:black;
              background-color:#40916c;
    }
    
    nav button{display: none;
    }

    nav ul li {float:left;
    }

    nav ul li a {border: none;
                 border-right: 1px solid white;
                 border-left: 1px solid white;
                 padding:.8rem 2rem;
                 font-size: 25px;
            }

    nav ul {margin-left:0%;
            margin-right: 0%;
        }

    nav ul.hide{display: block;}

    body{background-color:white;
         margin-left: 10px;
         margin-right: 10px;
        }

    
    p{font-family:'Nanum Gothic', sans-serif;
      font-size: 30px;
    }
    
    a:hover{color:purple;
    }

    a:active{background-color:white;
    }

    footer{background-color:#40916c;
           text-align: center;
           font-family:'Oswald', sans-serif;
        }

    input{background-color:#d8f3dc;
           height: 40px;
           width:500px;
         }
    label{font-family:'New Tegomin', serif ;
          font-size: 30px;
        }
    main {margin-left: 50px;
          margin-right: 50px;
           font-size: 25px;
           font-family: 'Merriweather', serif;
       }

    .container{width:100%
       }
    .event1{float:left;
       }
    .event2{display:inline-block;
            margin-left:0 auto;
         }

     a {font-size: 25px;}

     .card {
    
      box-shadow: 0 4px 8px 0 black;
      transition: 0.3s;
      width: 70%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 black;
    }
    
    .directory {
      padding: 2px 16px;
    }
  
    .card {
      box-shadow: 0 4px 8px 0 black;
      transition: 0.3s;
      border-radius: 5px; 
    }
    
    
    img {
      border-radius: 5px 5px 0 0; 
    }

  }