@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Playfair+Display:ital@1&display=swap');

 h4{text-align: center;
    font-family:'Lemonada', cursive;
    color:#03045E;
    border:#023E8A 10px solid;   
}

body{background-color:#ade3f5;
    font-size:50px;
    font-family:'Lobster', cursive;
    }
 footer{border: solid;
        text-align: center;
        font-size:20px;
        background-color:#0096C7;
 }

 img{height: 350px;
     width:100%;
    }